<?xml version='1.0' encoding='utf-8'?>
<robot name="ur5_with_covvi_hand" xmlns:xacro="http://ros.org/wiki/xacro"><xacro:include filename="ur_macro.xacro" /><xacro:include filename="ur_transmissions.xacro" /><xacro:include filename="ur_joint_control.xacro" /><xacro:include filename="ur_common.xacro" /><xacro:include filename="ur_sensors.xacro" /><xacro:include filename="ros2_control_mock_hardware.xacro" /><xacro:include filename="linear_covvi_hand_right_scaled.xacro" /><xacro:arg name="name" default="ur5" /><xacro:arg name="prefix" default="" /><xacro:arg name="use_fake_hardware" default="true" /><xacro:ur_mocked name="$(arg name)" prefix="$(arg prefix)" use_fake_hardware="$(arg use_fake_hardware)" /><joint name="hand_mount_joint" type="fixed"><parent link="$(arg prefix)tool0" /><child link="base_hand_link" /><origin xyz="0 0 0.05" rpy="0 0 0" /></joint><xacro:linear_covvi_hand_right_scaled /></robot>