<launch>
  <!-- Carrega o modelo URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find robotic_arm)/urdf/robot.urdf" />

  <!-- Publica os estados das juntas -->
 <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />-->

  <!-- Publica o estado do robô -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Inicia o RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotic_arm)/config/default.rviz" />
</launch>
